<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.tool.mapper.ObdInfoMapper">

    <resultMap type="com.ruoyi.web.controller.tool.domain.ObdInfo" id="ObdInfoResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="boxId" column="box_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table_field">
      id, box_id, status      
    </sql>
       
    <!--通过Id查询单个-->
    <select id="selectById" resultMap="ObdInfoResultMap" parameterType="java.lang.Integer">
        select
          <include refid="table_field" />
        from obd_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="selectOneByEntity" resultMap="ObdInfoResultMap" parameterType="com.ruoyi.web.controller.tool.domain.ObdInfo">
        select
          <include refid="table_field" />
        from obd_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="boxId != null">
                and box_id = #{boxId,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="selectListByEntity" resultMap="ObdInfoResultMap" parameterType="com.ruoyi.web.controller.tool.domain.ObdInfo">
        select
          <include refid="table_field" />
        from obd_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="boxId != null">
                and box_id = #{boxId,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    
    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="selectListByIds" resultMap="ObdInfoResultMap" parameterType="list">
        select
          <include refid="table_field" />
        from obd_info
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>    
    
    <!--通过实体不为空的属性作为筛选条件模糊查询列表, % 需传值时自行组装-->
    <select id="selectListLikeEntity" resultMap="ObdInfoResultMap" parameterType="com.ruoyi.web.controller.tool.domain.ObdInfo">
        select
          <include refid="table_field" />
        from obd_info
        <where>
            <if test="id != null">
                and id  =  #{id,jdbcType=INTEGER}
                
            </if>
            <if test="boxId != null">
                and box_id  =  #{boxId,jdbcType=INTEGER}
                
            </if>
            <if test="status != null">
                and status  =  #{status,jdbcType=INTEGER}
                
            </if>
        </where>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.ruoyi.web.controller.tool.domain.ObdInfo">
        insert into obd_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
             id,
          </if>
          <if test="boxId != null">
             box_id,
          </if>
          <if test="status != null">
             status,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
             #{id,jdbcType=INTEGER},
          </if>
          <if test="boxId != null">
             #{boxId,jdbcType=INTEGER},
          </if>
          <if test="status != null">
             #{status,jdbcType=INTEGER},
          </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into obd_info
         (id, box_id, status)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
         (#{item.id,jdbcType=INTEGER}, #{item.boxId,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.ruoyi.web.controller.tool.domain.ObdInfo">
        update obd_info
        <set>
            <if test="boxId != null">
                box_id = #{boxId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update obd_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="box_id = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.boxId}
                 </foreach>
            </trim>
            <trim prefix="status = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.status}
                 </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from obd_info where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.ruoyi.web.controller.tool.domain.ObdInfo">
        delete from obd_info
        <where>
            <if test="boxId != null">
                and box_id = #{boxId,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </delete>
    
    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from obd_info where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <select id="countAll" resultType="int">
        select count(id) from obd_info
    </select>
    
    <select id="countByEntity" parameterType="com.ruoyi.web.controller.tool.domain.ObdInfo" resultType="int">
        select count(id) from obd_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="boxId != null">
                and box_id = #{boxId,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>