<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.tool.mapper.ObdPortInfoMapper">

    <resultMap type="com.ruoyi.web.controller.tool.domain.ObdPortInfo" id="ObdPortInfoResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="obdId" column="obd_id" jdbcType="INTEGER"/>
        <result property="portSer" column="port_ser" jdbcType="INTEGER"/>
        <result property="portCode" column="port_code" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table_field">
      id, obd_id, port_ser, port_code, status, img_url      
    </sql>
       
    <!--通过Id查询单个-->
    <select id="selectById" resultMap="ObdPortInfoResultMap" parameterType="java.lang.Integer">
        select
          <include refid="table_field" />
        from obd_port_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="selectOneByEntity" resultMap="ObdPortInfoResultMap" parameterType="com.ruoyi.web.controller.tool.domain.ObdPortInfo">
        select
          <include refid="table_field" />
        from obd_port_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="obdId != null">
                and obd_id = #{obdId,jdbcType=INTEGER}
            </if>
            <if test="portSer != null">
                and port_ser = #{portSer,jdbcType=INTEGER}
            </if>
            <if test="portCode != null and portCode != ''">
                and port_code = #{portCode,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url = #{imgUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="selectListByEntity" resultMap="ObdPortInfoResultMap" parameterType="com.ruoyi.web.controller.tool.domain.ObdPortInfo">
        select
          <include refid="table_field" />
        from obd_port_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="obdId != null">
                and obd_id = #{obdId,jdbcType=INTEGER}
            </if>
            <if test="portSer != null">
                and port_ser = #{portSer,jdbcType=INTEGER}
            </if>
            <if test="portCode != null and portCode != ''">
                and port_code = #{portCode,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url = #{imgUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="selectListByIds" resultMap="ObdPortInfoResultMap" parameterType="list">
        select
          <include refid="table_field" />
        from obd_port_info
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>    
    
    <!--通过实体不为空的属性作为筛选条件模糊查询列表, % 需传值时自行组装-->
    <select id="selectListLikeEntity" resultMap="ObdPortInfoResultMap" parameterType="com.ruoyi.web.controller.tool.domain.ObdPortInfo">
        select
          <include refid="table_field" />
        from obd_port_info
        <where>
            <if test="id != null">
                and id  =  #{id,jdbcType=INTEGER}
                
            </if>
            <if test="obdId != null">
                and obd_id  =  #{obdId,jdbcType=INTEGER}
                
            </if>
            <if test="portSer != null">
                and port_ser  =  #{portSer,jdbcType=INTEGER}
                
            </if>
            <if test="portCode != null and portCode != ''">
                and port_code  like  #{portCode,jdbcType=VARCHAR}
                
            </if>
            <if test="status != null">
                and status  =  #{status,jdbcType=INTEGER}
                
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url  like  #{imgUrl,jdbcType=VARCHAR}
                
            </if>
        </where>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.ruoyi.web.controller.tool.domain.ObdPortInfo">
        insert into obd_port_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
             id,
          </if>
          <if test="obdId != null">
             obd_id,
          </if>
          <if test="portSer != null">
             port_ser,
          </if>
          <if test="portCode != null and portCode != ''">
             port_code,
          </if>
          <if test="status != null">
             status,
          </if>
          <if test="imgUrl != null and imgUrl != ''">
             img_url,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
             #{id,jdbcType=INTEGER},
          </if>
          <if test="obdId != null">
             #{obdId,jdbcType=INTEGER},
          </if>
          <if test="portSer != null">
             #{portSer,jdbcType=INTEGER},
          </if>
          <if test="portCode != null and portCode != ''">
             #{portCode,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
             #{status,jdbcType=INTEGER},
          </if>
          <if test="imgUrl != null and imgUrl != ''">
             #{imgUrl,jdbcType=VARCHAR},
          </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into obd_port_info
         (id, obd_id, port_ser, port_code, status, img_url)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
         (#{item.id,jdbcType=INTEGER}, #{item.obdId,jdbcType=INTEGER}, #{item.portSer,jdbcType=INTEGER}, #{item.portCode,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.imgUrl,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.ruoyi.web.controller.tool.domain.ObdPortInfo">
        update obd_port_info
        <set>
            <if test="obdId != null">
                obd_id = #{obdId,jdbcType=INTEGER},
            </if>
            <if test="portSer != null">
                port_ser = #{portSer,jdbcType=INTEGER},
            </if>
            <if test="portCode != null and portCode != ''">
                port_code = #{portCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update obd_port_info
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="obd_id = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.obdId}
                 </foreach>
            </trim>
            <trim prefix="port_ser = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.portSer}
                 </foreach>
            </trim>
            <trim prefix="port_code = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.portCode}
                 </foreach>
            </trim>
            <trim prefix="status = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.status}
                 </foreach>
            </trim>
            <trim prefix="img_url = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.imgUrl}
                 </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from obd_port_info where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.ruoyi.web.controller.tool.domain.ObdPortInfo">
        delete from obd_port_info
        <where>
            <if test="obdId != null">
                and obd_id = #{obdId,jdbcType=INTEGER}
            </if>
            <if test="portSer != null">
                and port_ser = #{portSer,jdbcType=INTEGER}
            </if>
            <if test="portCode != null">
                and port_code = #{portCode,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="imgUrl != null">
                and img_url = #{imgUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from obd_port_info where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <select id="countAll" resultType="int">
        select count(id) from obd_port_info
    </select>
    
    <select id="countByEntity" parameterType="com.ruoyi.web.controller.tool.domain.ObdPortInfo" resultType="int">
        select count(id) from obd_port_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="obdId != null">
                and obd_id = #{obdId,jdbcType=INTEGER}
            </if>
            <if test="portSer != null">
                and port_ser = #{portSer,jdbcType=INTEGER}
            </if>
            <if test="portCode != null">
                and port_code = #{portCode,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
            <if test="imgUrl != null">
                and img_url = #{imgUrl,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>