<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.tool.mapper.WxUserMapper">

    <resultMap type="com.ruoyi.web.controller.tool.domain.WxUser" id="WxUserResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="jobNumber" column="job_number" jdbcType="VARCHAR"/>
        <result property="wxOpenId" column="wx_open_id" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_field">
      id, job_number, wx_open_id, phone, create_time      
    </sql>
       
    <!--通过Id查询单个-->
    <select id="selectById" resultMap="WxUserResultMap" parameterType="java.lang.Integer">
        select
          <include refid="table_field" />
        from wx_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--通过实体不为空的属性作为筛选条件查询单个-->
    <select id="selectOneByEntity" resultMap="WxUserResultMap" parameterType="com.ruoyi.web.controller.tool.domain.WxUser">
        select
          <include refid="table_field" />
        from wx_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="jobNumber != null and jobNumber != ''">
                and job_number = #{jobNumber,jdbcType=VARCHAR}
            </if>
            <if test="wxOpenId != null and wxOpenId != ''">
                and wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--通过实体不为空的属性作为筛选条件查询列表-->
    <select id="selectListByEntity" resultMap="WxUserResultMap" parameterType="com.ruoyi.web.controller.tool.domain.WxUser">
        select
          <include refid="table_field" />
        from wx_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="jobNumber != null and jobNumber != ''">
                and job_number = #{jobNumber,jdbcType=VARCHAR}
            </if>
            <if test="wxOpenId != null and wxOpenId != ''">
                and wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    
    <!--通过Id列表作为筛选条件查询列表，列表长度不为0-->
    <select id="selectListByIds" resultMap="WxUserResultMap" parameterType="list">
        select
          <include refid="table_field" />
        from wx_user
        where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>    
    
    <!--通过实体不为空的属性作为筛选条件模糊查询列表, % 需传值时自行组装-->
    <select id="selectListLikeEntity" resultMap="WxUserResultMap" parameterType="com.ruoyi.web.controller.tool.domain.WxUser">
        select
          <include refid="table_field" />
        from wx_user
        <where>
            <if test="id != null">
                and id  =  #{id,jdbcType=INTEGER}
                
            </if>
            <if test="jobNumber != null and jobNumber != ''">
                and job_number  like  #{jobNumber,jdbcType=VARCHAR}
                
            </if>
            <if test="wxOpenId != null and wxOpenId != ''">
                and wx_open_id  like  #{wxOpenId,jdbcType=VARCHAR}
                
            </if>
            <if test="phone != null and phone != ''">
                and phone  like  #{phone,jdbcType=VARCHAR}
                
            </if>
            <if test="createTime != null">
                and create_time  =  #{createTime,jdbcType=TIMESTAMP}
                
            </if>
        </where>
    </select>

    <!--新增实体属性不为null的列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.ruoyi.web.controller.tool.domain.WxUser">
        insert into wx_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="id != null">
             id,
          </if>
          <if test="jobNumber != null and jobNumber != ''">
             job_number,
          </if>
          <if test="wxOpenId != null and wxOpenId != ''">
             wx_open_id,
          </if>
          <if test="phone != null and phone != ''">
             phone,
          </if>
          <if test="createTime != null">
             create_time,
          </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
             #{id,jdbcType=INTEGER},
          </if>
          <if test="jobNumber != null and jobNumber != ''">
             #{jobNumber,jdbcType=VARCHAR},
          </if>
          <if test="wxOpenId != null and wxOpenId != ''">
             #{wxOpenId,jdbcType=VARCHAR},
          </if>
          <if test="phone != null and phone != ''">
             #{phone,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null">
             #{createTime,jdbcType=TIMESTAMP},
          </if>
        </trim>
    </insert>

    <!--批量新增所有列，列表长度不能为0，且列表id统一为null或者统一不为null-->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true" parameterType="list">
        insert into wx_user
         (id, job_number, wx_open_id, phone, create_time)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
         (#{item.id,jdbcType=INTEGER}, #{item.jobNumber,jdbcType=VARCHAR}, #{item.wxOpenId,jdbcType=VARCHAR}, #{item.phone,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!--通过主键修改实体属性不为null的列-->
    <update id="update" parameterType="com.ruoyi.web.controller.tool.domain.WxUser">
        update wx_user
        <set>
            <if test="jobNumber != null and jobNumber != ''">
                job_number = #{jobNumber,jdbcType=VARCHAR},
            </if>
            <if test="wxOpenId != null and wxOpenId != ''">
                wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--通过主键修改实体列表，列表长度不能为0，注意：当实体属性为null时，对应的列也会别更新为null-->
    <update id="updateBatch" parameterType="list">
        update wx_user
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="job_number = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.jobNumber}
                 </foreach>
            </trim>
            <trim prefix="wx_open_id = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.wxOpenId}
                 </foreach>
            </trim>
            <trim prefix="phone = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.phone}
                 </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                 <foreach collection="list" item="item" index="index">
                  when id = #{item.id} then #{item.createTime}
                 </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from wx_user where id = #{id,jdbcType=INTEGER}
    </delete>

    <!--通过实体非空属性删除-->
    <delete id="deleteByEntity" parameterType="com.ruoyi.web.controller.tool.domain.WxUser">
        delete from wx_user
        <where>
            <if test="jobNumber != null">
                and job_number = #{jobNumber,jdbcType=VARCHAR}
            </if>
            <if test="wxOpenId != null">
                and wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </delete>
    
    <!--通过主键列表删除，列表长度不能为0-->
    <delete id="deleteByIds" parameterType="list">
        delete from wx_user where id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>
    
    <select id="countAll" resultType="int">
        select count(id) from wx_user
    </select>
    
    <select id="countByEntity" parameterType="com.ruoyi.web.controller.tool.domain.WxUser" resultType="int">
        select count(id) from wx_user
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="jobNumber != null">
                and job_number = #{jobNumber,jdbcType=VARCHAR}
            </if>
            <if test="wxOpenId != null">
                and wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
</mapper>