<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.data.mapper.DataManagementMapper">

    <resultMap type="com.ruoyi.web.controller.data.domain.PcObdBox" id="PcObdBoxMap">
        <result property="seq" column="num" jdbcType="INTEGER"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="boxCode" column="box_code" jdbcType="VARCHAR"/>
        <result property="labelCode" column="label_code" jdbcType="VARCHAR"/>
        <result property="boxName" column="box_name" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="businessBureau" column="business_bureau" jdbcType="VARCHAR"/>
        <result property="campService" column="camp_service" jdbcType="VARCHAR"/>
        <result property="jobNumber" column="job_number" jdbcType="VARCHAR"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="exceptionType" column="exception_type" jdbcType="INTEGER"/>
        <result property="exceptionInfo" column="exception_info" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="obdCount" column="obd_count" jdbcType="VARCHAR"/>
        <result property="boxUniqueId" column="box_unique_id" jdbcType="VARCHAR"/>
        <result property="obdUniqueId" column="obd_unique_id" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.ruoyi.web.controller.data.domain.PcObdInfo" id="PcObdInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="seq" column="num" jdbcType="INTEGER"/>
        <result property="boxId" column="box_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="boxBelong" column="box_belong" jdbcType="VARCHAR"/>
        <result property="obdName" column="obd_name" jdbcType="VARCHAR"/>
        <result property="portCount" column="port_count" jdbcType="VARCHAR"/>
        <result property="boxUniqueId" column="box_unique_id" jdbcType="VARCHAR"/>
        <result property="obdUniqueId" column="obd_unique_id" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.ruoyi.web.controller.data.domain.DerivedEntity" id="PcObdViewResultMap">
        <result property="boxCode" column="box_code" jdbcType="VARCHAR"/>
        <result property="labelCode" column="label_code" jdbcType="VARCHAR"/>
        <result property="boxName" column="box_name" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="businessBureau" column="business_bureau" jdbcType="VARCHAR"/>
        <result property="campService" column="camp_service" jdbcType="VARCHAR"/>
        <result property="obdId" column="obd_id" jdbcType="INTEGER"/>
        <result property="boxId" column="box_id" jdbcType="INTEGER"/>
        <result property="boxBelong" column="box_belong" jdbcType="VARCHAR"/>
        <result property="obdName" column="obd_name" jdbcType="VARCHAR"/>
        <result property="portCount" column="port_count" jdbcType="INTEGER"/>
        <result property="boxUniqueId" column="box_unique_id" jdbcType="VARCHAR"/>
        <result property="obdUniqueId" column="obd_unique_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="pc_obd">
      box_code, label_code, box_name, area, business_bureau, camp_service, obd_id, box_id, box_belong, obd_name, port_count, box_unique_id, obd_unique_id
    </sql>


    <sql id="pc_obd_box">
      id, box_code, label_code, box_name, area, business_bureau, camp_service, job_number, img_url, status, exception_type, exception_info, create_time
    </sql>

    <select id="selectAllBoxName" resultMap="PcObdBoxMap">
        select box_name,box_unique_id from pc_obd_box GROUP BY box_name
    </select>


    <!--新增PcObdBox-->
    <insert id="insertPcObdBox" keyProperty="id" useGeneratedKeys="true" parameterType="com.ruoyi.web.controller.data.domain.PcObdBox">
        insert into pc_obd_box
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="boxCode != null and  boxCode != '' ">
                box_code,
            </if>
            <if test="labelCode != null and  labelCode != '' ">
                label_code,
            </if>
            <if test="boxName != null and  boxName != '' ">
                box_name,
            </if>
            <if test="area != null and  area != '' ">
                area,
            </if>
            <if test="businessBureau != null and  businessBureau != '' ">
                business_bureau,
            </if>
            <if test="campService != null and  campService != '' ">
                camp_service,
            </if>
            <if test="jobNumber != null and  jobNumber != '' ">
                job_number,
            </if>
            <if test="imgUrl != null and  imgUrl != '' ">
                img_url,
            </if>
            <if test="status != null  ">
                status,
            </if>
            <if test=" boxUniqueId != null and boxUniqueId != '' ">
                box_unique_id,
            </if>
            <if test="exceptionType != null">
                exception_type,
            </if>
            <if test="exceptionInfo != null and exceptionInfo != ''">
                exception_info,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="boxCode != null and  boxCode != '' ">
                #{boxCode},
            </if>
            <if test="labelCode != null and  labelCode != '' ">
                #{labelCode},
            </if>
            <if test="boxName != null and  boxName != '' ">
                #{boxName},
            </if>
            <if test="area != null and  area != '' ">
                #{area},
            </if>
            <if test="businessBureau != null and  businessBureau != '' ">
                #{businessBureau},
            </if>
            <if test="campService != null and  campService != '' ">
                #{campService},
            </if>
            <if test="jobNumber != null and  jobNumber != '' ">
                #{jobNumber},
            </if>
            <if test="imgUrl != null and  imgUrl != '' ">
                #{imgUrl},
            </if>
            <if test="status != null  ">
                #{status},
            </if>
            <if test="boxUniqueId != null and boxUniqueId != '' ">
                #{boxUniqueId},
            </if>
            <if test="exceptionType != null">
                #{exceptionType},
            </if>
            <if test="exceptionInfo != null and exceptionInfo != ''">
                #{exceptionInfo},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!--新增PcObdInfo-->
    <insert id="insertPcObdInfo" keyProperty="id" useGeneratedKeys="true" parameterType="com.ruoyi.web.controller.data.domain.PcObdInfo">
        insert into pc_obd_info
        (box_id,box_belong,obd_name,port_count,box_unique_id,obd_unique_id)
        values
        <foreach item="item" collection="list" separator="," open="" close="" index="index">
        (#{item.boxId},#{item.boxBelong}, #{item.obdName},#{item.portCount},#{item.boxUniqueId},#{item.obdUniqueId})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="updatePcObdBox" parameterType="com.ruoyi.web.controller.data.domain.PcObdBox">
        update pc_obd_box
        <set>
            <if test="boxCode != null and boxCode != ''">
                box_code = #{boxCode},
            </if>
            <if test="labelCode != null and labelCode != ''">
                label_code = #{labelCode},
            </if>
            <if test="boxName != null and boxName != ''">
                box_name = #{boxName},
            </if>
            <if test="area != null and area != ''">
                area = #{area},
            </if>
            <if test="businessBureau != null and businessBureau != ''">
                business_bureau = #{businessBureau},
            </if>
            <if test="campService != null and campService != ''">
                camp_service = #{campService},
            </if>
            <if test="jobNumber != null and jobNumber != ''">
                job_number = #{jobNumber},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="exceptionType != null">
                exception_type = #{exceptionType},
            </if>
            <if test="exceptionInfo != null and exceptionInfo != ''">
                exception_info = #{exceptionInfo},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id}
    </update>


    <!--通过主键修改数据-->
    <update id="updateBaseData" parameterType="com.ruoyi.web.controller.data.domain.BaseUpdate">
        update pc_obd_box t1, pc_obd_info t2
        <set>
            <if test="boxCode != null and boxCode != ''">
                t1.box_code = #{boxCode},
            </if>
            <if test="labelCode != null and labelCode != ''">
                t1.label_code = #{labelCode},
            </if>
            <if test="boxName != null and boxName != ''">
                t1.box_name = #{boxName},
            </if>
            <if test="area != null and area != ''">
                t1.area = #{area},
            </if>
            <if test="businessBureau != null and businessBureau != ''">
                t1.business_bureau = #{businessBureau},
            </if>
            <if test="campService != null and campService != ''">
                t1.camp_service = #{campService},
            </if>
            <if test="obdName != null and obdName != ''">
                t2.obd_name = #{obdName},
            </if>
            <if test="boxBelong != null and boxBelong != ''">
                t2.box_belong = #{boxBelong},
            </if>
            <if test="portCount != null">
                t2.port_count = #{portCount},
            </if>
        </set>
        <where>
            <if test="boxId != null">
               and t1.id = #{boxId}
            </if>
            <if test="id != null">
               and t2.id = #{id}
            </if>
        </where>
    </update>


    <!--通过主键修改数据-->
    <update id="updatePcObdInfoForBaseData" parameterType="com.ruoyi.web.controller.data.domain.PcObdInfo">
        update pc_obd_info
        <set>
            <if test="boxId != null">
                box_id = #{boxId},
            </if>
            <if test="boxBelong != null and boxBelong != ''">
                box_belong = #{boxBelong},
            </if>
            <if test=" boxUniqueId != null and boxUniqueId != '' ">
                box_unique_id = #{boxUniqueId,jdbcType=VARCHAR},
            </if>
            <if test="obdName != null and obdName != ''">
                obd_name = #{obdName},
            </if>
            <if test="portCount != null">
                port_count = #{portCount}
            </if>
        </set>
        where id = #{id}
    </update>


    <!--通过主键删除-->
    <delete id="deletePcObdInfoById" parameterType="java.lang.Integer">
        delete from pc_obd_info
        <where>
            <if test="id != null ">
                id = #{id,jdbcType=INTEGER}
            </if>
        </where>
    </delete>


    <delete id="deletePcObdBoxByIds" parameterType="Long">
        delete from pc_obd_box
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deletePcObdInfoByBoxIds" parameterType="Long">
        delete from pc_obd_info
        where box_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectObdByEntity" resultMap="PcObdViewResultMap" parameterType="com.ruoyi.web.controller.data.domain.DerivedEntity">
        select
        <include refid="pc_obd" />
        from pc_obd_view
        <where>
            <if test="boxCode != null and boxCode != ''">
                and box_code = #{boxCode,jdbcType=VARCHAR}
            </if>
            <if test="labelCode != null and labelCode != ''">
                and label_code = #{labelCode,jdbcType=VARCHAR}
            </if>
            <if test="boxName != null and boxName != ''">
                and box_name = #{boxName,jdbcType=VARCHAR}
            </if>
            <if test="area != null and area != ''">
                and area = #{area,jdbcType=VARCHAR}
            </if>
            <if test="businessBureau != null and businessBureau != ''">
                and business_bureau = #{businessBureau,jdbcType=VARCHAR}
            </if>
            <if test="campService != null and campService != ''">
                and camp_service = #{campService,jdbcType=VARCHAR}
            </if>
            <if test="obdId != null">
                and obd_id = #{obdId,jdbcType=INTEGER}
            </if>
            <if test="boxId != null">
                and box_id = #{boxId,jdbcType=INTEGER}
            </if>
            <if test="boxBelong != null and boxBelong != ''">
                and box_belong = #{boxBelong,jdbcType=VARCHAR}
            </if>
            <if test="obdName != null and obdName != ''">
                and obd_name = #{obdName,jdbcType=VARCHAR}
            </if>
            <if test="portCount != null and portCount != 0">
                and port_count = #{portCount,jdbcType=INTEGER}
            </if>
            <if test=" boxUniqueId != null and boxUniqueId != '' ">
                and box_unique_id = #{boxUniqueId,jdbcType=VARCHAR}
            </if>
            <if test=" obdUniqueId != null and obdUniqueId != '' ">
                and obd_unique_id = #{obdUniqueId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectByBoxId" resultMap="PcObdInfoMap" parameterType="java.lang.Integer">
        select (@num := @num + 1) as num,
        id, box_id, status, box_belong, obd_name, port_count
        from pc_obd_info,(select @num := 0) row_number
        where box_id = #{boxId,jdbcType=INTEGER}
    </select>

    <select id="selectByBoxUniqueId" resultMap="PcObdBoxMap" parameterType="String">
        select * from pc_obd_box
        where box_unique_id = #{boxUniqueId,jdbcType=VARCHAR}
    </select>

    <select id="selectBoxListByEntity" resultMap="PcObdBoxMap"
            parameterType="com.ruoyi.web.controller.data.domain.PcObdBox">
        select *, (@num := @num + 1) as num from (select
        t1.id, t1.box_code, t1.label_code, t1.box_name, t1.area, t1.business_bureau, t1.camp_service, t1.job_number, t1.img_url, t1.status, t1.exception_type, t1.exception_info, t1.create_time, count(t2.id) obd_count
        from pc_obd_box t1 LEFT JOIN pc_obd_info t2 on t1.id = t2.box_id
        <where>
            <if test="id != null">
                and t1.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="boxCode != null and boxCode != ''">
                and t1.box_code like concat('%',#{boxCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="labelCode != null and labelCode != ''">
                and t1.label_code like concat('%',#{labelCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="boxName != null and boxName != ''">
                and t1.box_name like concat('%',#{boxName,jdbcType=VARCHAR},'%')
            </if>
            <if test="area != null and area != ''">
                and t1.area like concat('%',#{area,jdbcType=VARCHAR},'%')
            </if>
            <if test="businessBureau != null and businessBureau != ''">
                and t1.business_bureau like concat('%',#{businessBureau,jdbcType=VARCHAR},'%')
            </if>
            <if test="campService != null and campService != ''">
                and t1.camp_service like concat('%',#{campService,jdbcType=VARCHAR},'%')
            </if>
            <if test="jobNumber != null and jobNumber != ''">
                and job_number = #{jobNumber,jdbcType=VARCHAR}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and t1.img_url = #{imgUrl,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and t1.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="exceptionType != null">
                and t1.exception_type = #{exceptionType,jdbcType=INTEGER}
            </if>
            <if test="exceptionInfo != null and exceptionInfo != ''">
                and t1.exception_info = #{exceptionInfo,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and t1.create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        GROUP BY t1.id ORDER BY t1.create_time DESC) t,
        (select @num := 0) num
    </select>

    <select id="selectCount" resultMap="PcObdBoxMap" >
        SELECT count(box_unique_id) AS obd_count, GROUP_CONCAT(id SEPARATOR '-') as box_name FROM pc_obd_box
        GROUP BY box_unique_id
        HAVING obd_count>1
    </select>


    <update id="updateCount" parameterType="com.ruoyi.web.controller.data.domain.PcObdBox">
        UPDATE  pc_obd_info
        <set>
            <if test="boxId != null">
                box_id = #{id},
            </if>
        </set>
        WHERE box_id =#{seq}
    </update>

    <delete id="deleteCount" parameterType="list">
        delete from pc_obd_box
        where box_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </delete>

</mapper>