<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.obd.mapper.ObdDeviceMapper">


    <resultMap type="com.ruoyi.web.controller.upload.domain.ObdBoxVO" id="ObdBoxVOMap">
        <result property="seq" column="num" jdbcType="INTEGER"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="boxCode" column="box_code" jdbcType="VARCHAR"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="labelCode" column="label_code" jdbcType="VARCHAR"/>
        <result property="boxName" column="box_name" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="businessBureau" column="business_bureau" jdbcType="VARCHAR"/>
        <result property="campService" column="camp_service" jdbcType="VARCHAR"/>
        <result property="exceptionType" column="exception_type" jdbcType="VARCHAR"/>
        <result property="exceptionInfo" column="exception_info" jdbcType="VARCHAR"/>
        <result property="jobNumber" column="job_number" jdbcType="VARCHAR"/>
        <result property="checkState" column="check_state" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.ruoyi.web.controller.upload.domain.ObdView" id="ObdViewMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="boxCode" column="box_code" jdbcType="VARCHAR"/>
        <result property="labelCode" column="label_code" jdbcType="VARCHAR"/>
        <result property="checkState" column="check_state" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="jobNumber" column="job_number" jdbcType="VARCHAR"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="exceptionType" column="exception_type" jdbcType="VARCHAR"/>
        <result property="exceptionInfo" column="exception_info" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="obdStatus" column="obd_status" jdbcType="VARCHAR"/>
        <result property="boxBelong" column="box_belong" jdbcType="VARCHAR"/>
        <result property="obdName" column="obd_name" jdbcType="VARCHAR"/>
        <result property="obdUniqueId" column="obd_unique_id" jdbcType="VARCHAR"/>
        <result property="boxUniqueId" column="box_unique_id" jdbcType="VARCHAR"/>
        <result property="portUniqueId" column="port_unique_id" jdbcType="VARCHAR"/>
        <result property="portId" column="port_id" jdbcType="VARCHAR"/>
        <result property="portSer" column="port_ser" jdbcType="VARCHAR"/>
        <result property="portCode" column="port_code" jdbcType="VARCHAR"/>
        <result property="portStatus" column="port_status" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="campService" column="camp_service" jdbcType="VARCHAR"/>
        <result property="businessBureau" column="business_bureau" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.ruoyi.web.controller.data.domain.DerivedEntity" id="PcObdViewResultMap">
        <result property="boxCode" column="box_code" jdbcType="VARCHAR"/>
        <result property="labelCode" column="label_code" jdbcType="VARCHAR"/>
        <result property="boxName" column="box_name" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="businessBureau" column="business_bureau" jdbcType="VARCHAR"/>
        <result property="campService" column="camp_service" jdbcType="VARCHAR"/>
        <result property="obdId" column="obd_id" jdbcType="INTEGER"/>
        <result property="boxId" column="box_id" jdbcType="INTEGER"/>
        <result property="boxBelong" column="box_belong" jdbcType="VARCHAR"/>
        <result property="obdName" column="obd_name" jdbcType="VARCHAR"/>
        <result property="obdUniqueId" column="obd_unique_id" jdbcType="VARCHAR"/>
        <result property="boxUniqueId" column="box_unique_id" jdbcType="VARCHAR"/>
        <result property="portCount" column="port_count" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.ruoyi.web.controller.system.domain.WxUser" id="wxUserMap">
        <result property="seq" column="num" jdbcType="INTEGER"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="jobNumber" column="job_number" jdbcType="VARCHAR"/>
        <result property="wxOpenId" column="wx_open_id" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap type="com.ruoyi.web.controller.upload.domain.ObdInfoVO" id="ObdInfoVOMap">
        <result property="seq" column="num" jdbcType="INTEGER"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="boxId" column="box_id" jdbcType="INTEGER"/>
        <result property="boxCode" column="box_code" jdbcType="VARCHAR"/>
        <result property="labelCode" column="label_code" jdbcType="VARCHAR"/>
        <result property="boxBelong" column="box_belong" jdbcType="VARCHAR"/>
        <result property="obdUniqueId" column="obd_unique_id" jdbcType="VARCHAR"/>
        <result property="boxUniqueId" column="box_unique_id" jdbcType="VARCHAR"/>
        <result property="obdName" column="obd_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.ruoyi.web.controller.upload.domain.ObdPortInfoVO" id="ObdPortInfoVOMap">
        <result property="seq" column="num" jdbcType="INTEGER"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="obdId" column="obd_id" jdbcType="INTEGER"/>
        <result property="portSer" column="port_ser" jdbcType="INTEGER"/>
        <result property="portCode" column="port_code" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="obdName" column="obd_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="ObdBoxVO">
        id, box_code, label_code, img_url, status, exception_type, exception_info, job_number, create_time
    </sql>

    <!--通过boxCode唯一ID查询-->
    <select id="boxSearch" resultMap="ObdBoxVOMap" parameterType="java.lang.String">
        select (@num := @num + 1) as num,
        <include refid="ObdBoxVO"></include>
         from obd_box, (select @num := 0) row_number
        where box_code = #{boxCode,jdbcType=VARCHAR}
    </select>


    <update id="updateCheckState">
        update obd_box set check_state = #{state}
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--通过机箱自增主键ID查询备注信息-->
    <select id="boxRemarksById" resultMap="ObdBoxVOMap" parameterType="java.lang.String">
        select
        remarks
        from obd_box
        where id = #{id,jdbcType=VARCHAR}
    </select>


    <!--更新备注信息-->
    <update id="updateRemarks">
        update obd_box set remarks = #{remarks} where id = #{id}
    </update>

    <!--通过盒子id查询obd列表-->
    <select id="selectInfoByBoxId" resultMap="ObdInfoVOMap" >
        SELECT
        (@num := @num + 1) as num,
        i.id,i.box_id,i.status,b.box_code,b.label_code,i.obd_name,i.obd_unique_id,i.box_unique_id
        FROM obd_info i
        INNER  JOIN obd_box b on  b.id = i.box_id,
        (select @num := 0) row_number
        <where>
            <if test="boxId != null and boxId != ''">
                and i.box_id = #{boxId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过boxCode或labelCode查询obd信息-->
    <select id="selectAllInfoByCode" resultMap="ObdPortInfoVOMap" >
        select id,obd_id,port_ser,port_code,port_id num from obd_view
        <where>
            <if test="boxCode != null and boxCode != ''">
                and box_code = #{code} or label_code = #{code}
            </if>
        </where>
    </select>

    <!--通过boxCode或labelCode查询obd信息-->
    <select id="selectBaseDataByCode" resultMap="PcObdViewResultMap" >
        select box_id, obd_id, port_count, box_belong, obd_name,box_unique_id,obd_unique_id from pc_obd_view
        <where>
            <if test="code != null and code != ''">
                box_code = #{code} or label_code = #{code}
            </if>
        </where>
    </select>




    <!--通过ObdId查询端口列表-->
    <select id="selectPortByObdId" resultMap="ObdPortInfoVOMap" >
        SELECT (@num := @num + 1) as num,
        t1.id,t1.obd_id,t1.port_ser,t1.port_code,t1.status,t1.img_url,t2.obd_name
        FROM (select @num := 0) row_number,
        obd_port_info t1
        JOIN obd_info t2 on
        t1.obd_id = t2.id
        <where>
            <if test="obdId != null and obdId != ''">
                and  obd_id = #{obdId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过工号查询盒子列表-->
    <select id="selectBoxByJobNumber" resultMap="ObdBoxVOMap" parameterType="java.lang.String">
        SELECT
        (@num := @num + 1) as num,
        id, box_code, img_url, status, exception_type, exception_info, job_number, create_time
        FROM
        obd_box, (select @num := 0) row_number
        <where>
            <if test="jobNumber != null and jobNumber != ''">
                and job_number = #{jobNumber,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!--通过jobNumber唯一ID查询-->
    <select id="jobNumberSearch" resultMap="ObdBoxVOMap" parameterType="java.lang.String">
        select (@num := @num + 1) as num,
        <include refid="ObdBoxVO"></include>
         from obd_box, (select @num := 0) row_number
        where job_number = #{jobNumber,jdbcType=VARCHAR}
    </select>

    <!--通过phone唯一ID查询-->
    <select id="phoneSearch" resultMap="ObdBoxVOMap" parameterType="java.lang.String">
        select (@num := @num + 1) as num,
        <include refid="ObdBoxVO"></include>
         from obd_box, (select @num := 0) row_number
        where job_number = (SELECT job_number from wx_user where phone = #{phone,jdbcType=VARCHAR})
    </select>

    <!--查询微信员工手机号信息-->
    <select id="queryWechatInfo" resultMap="wxUserMap">
        select (@num := @num + 1) as num,
        id,job_number,wx_open_id,phone,create_time
        from wx_user, (select @num := 0) row_number
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="jobNumber != null and jobNumber != ''">
                and job_number = #{jobNumber,jdbcType=VARCHAR}
            </if>
            <if test="wxOpenId != null and wxOpenId != ''">
                and wx_open_id = #{wxOpenId,jdbcType=VARCHAR}
            </if>
            <if test="phone != null  and phone != ''">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </where>
    </select>


    <!--查询所有-->
    <select id="allSearch" resultMap="ObdBoxVOMap" parameterType="java.lang.String">
        select (@num := @num + 1) as num,
        <include refid="ObdBoxVO"></include>
         from obd_box, (select @num := 0) row_number
    </select>

    <!--查询指定手机号码-->
    <select id="isPhoneNumberExist" resultMap="wxUserMap" parameterType="java.lang.String">
        select phone
         from wx_user where phone = #{phone}
    </select>

    <!--绑定手机-->
    <update id="bindPhone">
        UPDATE wx_user SET phone = #{newPhone}
        <where>
        <if test="jobNumber != null and jobNumber != ''">
            and job_number = #{jobNumber}
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone}
        </if>
        </where>
    </update>

    <!--解绑手机号码-->
    <update id="unBindPhone">
        UPDATE wx_user a set phone = null WHERE a.id = #{id}
    </update>

    <!--条件查询-->
    <select id="searchByCondition" resultMap="ObdBoxVOMap">
        select
        t1.id, t2.box_name, t1.box_code, t1.label_code, t1.img_url, t1.job_number, t1.create_time,
        t2.area,t2.camp_service, t1.remarks, t1.check_state
        from obd_box t1 join pc_obd_box t2 on (t1.box_unique_id = t2.box_unique_id)
        <where>
            <if test="jobNumber != null and jobNumber != ''">
                and t1.job_number = #{jobNumber}
            </if>
            <if test="phone != null and phone != ''">
                and t1.job_number = (select job_number from wx_user where phone = #{phone})
            </if>
            <if test="code != null and code != ''">
                and t1.box_code like concat('%', #{code},'%') or t1.label_code like concat('%', #{code},'%')
            </if>
            and 1 = 1
            GROUP BY t1.id
            <choose>
                <when test="checkState == '0'.toString()">
                    having t1.check_state = '0'
                </when>
                <when test="checkState == '1'.toString()">
                    having t1.check_state = '1'
                </when>
                <when test="checkState == '2'.toString() ">
                    having t1.check_state is null
                </when>
            </choose>
        </where>
        order by t1.create_time desc
    </select>

    <select id="selectExportObd" resultMap="ObdViewMap" parameterType="com.ruoyi.web.controller.upload.domain.ObdView" >
        SELECT id,box_code,label_code,job_number,img_url,status,exception_type,exception_info,create_time,obd_status,box_belong,
        obd_name,port_id,port_ser,port_code,port_status,obd_unique_id,box_unique_id,port_unique_id,area,camp_service,business_bureau,remarks,check_state
        FROM obd_view
        <where>
            <if test="jobNumber != null and jobNumber != ''">
                and job_number = #{jobNumber}
            </if>
            <if test="phone != null and phone != ''">
                and job_number = (select job_number from wx_user where phone = #{phone})
            </if>
            <if test="code != null and code != ''">
                and box_code like concat('%', #{code},'%') or label_code like concat('%', #{code},'%')
            </if>
            <choose>
                <when test="checkState == '0'.toString()">
                    and check_state = '0'
                </when>
                <when test="checkState == '1'.toString()">
                    and check_state = '1'
                </when>
                <when test="checkState == '2'.toString() ">
                    and check_state is null
                </when>
            </choose>
        </where>
    </select>

</mapper>