<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.controller.data.mapper.PcObdInfoDao">

    <resultMap type="com.ruoyi.web.controller.data.domain.PcObdInfo" id="PcObdInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="boxId" column="box_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="boxBelong" column="box_belong" jdbcType="VARCHAR"/>
        <result property="obdName" column="obd_name" jdbcType="VARCHAR"/>
        <result property="portCount" column="port_count" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PcObdInfoMap">
        select
          id, box_id, status, box_belong, obd_name, port_count
        from obd-scan.pc_obd_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PcObdInfoMap">
        select
          id, box_id, status, box_belong, obd_name, port_count
        from obd-scan.pc_obd_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="PcObdInfoMap">
        select
        id, box_id, status, box_belong, obd_name, port_count
        from obd-scan.pc_obd_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="boxId != null">
                and box_id = #{boxId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="boxBelong != null and boxBelong != ''">
                and box_belong = #{boxBelong}
            </if>
            <if test="obdName != null and obdName != ''">
                and obd_name = #{obdName}
            </if>
            <if test="portCount != null and portCount != ''">
                and port_count = #{portCount}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into obd-scan.pc_obd_info(box_id, status, box_belong, obd_name, port_count)
        values (#{boxId}, #{status}, #{boxBelong}, #{obdName}, #{portCount})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into obd-scan.pc_obd_info(box_id, status, box_belong, obd_name, port_count)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.boxId}, #{entity.status}, #{entity.boxBelong}, #{entity.obdName}, #{entity.portCount})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into obd-scan.pc_obd_info(box_id, status, box_belong, obd_name, port_count)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.boxId}, #{entity.status}, #{entity.boxBelong}, #{entity.obdName}, #{entity.portCount})
        </foreach>
        on duplicate key update
        box_id = values(box_id) , status = values(status) , box_belong = values(box_belong) , obd_name =
        values(obd_name) , port_count = values(port_count)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update obd-scan.pc_obd_info
        <set>
            <if test="boxId != null">
                box_id = #{boxId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="boxBelong != null and boxBelong != ''">
                box_belong = #{boxBelong},
            </if>
            <if test="obdName != null and obdName != ''">
                obd_name = #{obdName},
            </if>
            <if test="portCount != null and portCount != ''">
                port_count = #{portCount},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from obd-scan.pc_obd_info where id = #{id}
    </delete>

</mapper>