<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('机箱')" />
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="user-form">
				<div class="select-list">
					<ul>
						<li>
							员工号：<input type="text" name="jobNumber"/>
						</li>
						<li>
							手机号：<input type="text" name="phone"/>
						</li>
						<li>
							机箱名称：<input type="text" name="boxName"/>
						</li>
						<li>
							机箱串码/标签码：<input type="text" name="code"/>
						</li>
						<li>
							审核状态：<select name="checkState" th:with="type=${@dict.getType('obd_check_state')}">
							<option value="">所有</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
						</li>
						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>
		<!-- 此处用于导入表格数据，需要的时候解除注释-->
		<div class="btn-group-sm" id="toolbar" role="group">
			<a class="btn btn-warning" onclick="$.table.exportExcel()">
				<i class="fa fa-download"></i> 整治数据导出
			</a>
			<a class="btn btn-info"  onclick="$.table.importExcel()">
				<i class="fa fa-upload"></i> 审核数据导入
			</a>
		</div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table"></table>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
	var prefix = ctx + "device/chassis";

	$(function() {
		var options = {
			url: prefix + "/searchByCondition",
			queryUrl: prefix + "/obd/{id}",
			obdImageUrl: prefix + "/pcShowImg/{id}",
			searchUrl:prefix + "/searchByCondition",
			importUrl: prefix + "/importData",
			importTemplateUrl: prefix + "/importTemplate",
			exportUrl: prefix + "/export",
			modalName: "OBD",
			imageName: "整治图片展示",
			columns: [
				{
					field : 'id',
					title : '机箱ID'
				},
				{
					field : 'index',
					title: '序号',
					formatter: function(value, row, index) {
						return $.table.serialNumber(index);
					}
				},
				{
					field : 'area',
					title : '区域'
				},
				{
					field : 'campService',
					title : '营服中心'
				},
				{
					field : 'boxName',
					title : '机箱名称'
				},
				{
					field : 'boxCode',
					title : '机箱串码'
				},
				{
					field : 'labelCode',
					title : '倒灌标签'
				},
				{
					field: 'checkState',
					title: '审核状态',
					align: 'center'
				},
				{
					field: 'jobNumber',
					title: '员工编号',
				},{
					field: 'createTime',
					title: '创建时间',
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.queryOBD(\'' + row.id + '\')"><i class="fa fa-search"></i>查看OBD</a> ');
						actions.push('<a class="btn btn-warning btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.queryImage(\'' + row.id + '\')"><i class="fa fa-search"></i>查看整治图片</a> ');
						return actions.join('');
					}
				}
			]
		};
		$.table.init(options);
		$.table.hideColumn("id");
	});
</script>
</body>
<!-- 审核数据导入区域 -->
<script id="importTpl" type="text/template">
	<form enctype="multipart/form-data" class="mt20 mb10">
		<div class="col-xs-offset-1">
			<input type="file" id="file" name="file"/>
			<div class="mt10 pt5">
				<span style="color: #5e5e5e"> 审核数据导入模板:</span>
				&nbsp;	<a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
			</div>
			<font color="red" class="pull-left mt10">
				提示：导入模板的标题请勿修改！<br />
				仅允许导入“xls”或“xlsx”格式文件！
			</font>
		</div>
	</form>
</script>
</html>
