<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('整治图片展示')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
		<p id="pcImage" th:text="${image}"></p>
        <img id="image" alt="User Image" src="" style="width: 640px; height: 854px; ">
    </div>
</div>
<th:block th:include="include :: footer"/>
</body>
<script th:inline="javascript">
    $("#pcImage").hide()
	$("#image").attr("src",ctx+$("#pcImage").text())
</script>
</html>