<!DOCTYPE html>
<html lang="zh" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('整治图片展示')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
	        <div class="col-sm-12 select-table table-striped">
				<div class="pull-left image">
					<img alt="User Image"  th:src="@{/obdImg/bg3.jpg}">
				</div>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>