<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('OBD')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <!-- 此处用于导入表格数据，需要的时候解除注释-->
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary" onclick="$.operate.check_yes()">
                <i class="fa fa-check-square-o"></i> 合格
            </a>
            <a class="btn btn-danger" onclick="$.operate.check_no()">
                <i class="fa fa-remove"></i> 不合格
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <input type="hidden" id="id" th:value="${id}">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "device/chassis/obd";

    $(function () {
        var options = {
            url: prefix + "/list/" + $('#id').val(),
            queryUrl: prefix + "/port/{id}",
            editRemarksUrl: prefix + "/remarks/{id}",
            checkYesUrl: prefix + "/checkYes/"+$('#id').val(),
            checkNoUrl: prefix + "/checkNo/"+$('#id').val(),
            modalName: "端口",
            columns: [
                {
                    checkbox: true
                },
                {
                    field : 'id',
                    title : 'OBD主键ID'
                },
                {
                    field: 'seq',
                    title: '序号',
                    formatter: function(value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'obdName',
                    title: 'OBD名称'
                },
                {
                    field: 'obdUniqueId',
                    title: 'OBD唯一编号'
                },
                {
                    field: 'checkState',
                    title: '审核状态',
                    align: 'center'
                },
                {
                    field: 'remarks',
                    title: '备注信息',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.editRemarks(\'' + row.id + '\')"><i class="fa fa-edit"></i>备注</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.queryOBD(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看端口</a> ');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
        $.table.hideColumn("id");
    });

    function submitHandler() {
        //刷新父窗口列表
        window.parent.location.reload();
        //关闭当前窗口
        $.modal.close();
    }


</script>
</body>
</html>