<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('端口')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">

	        <div class="col-sm-12 select-table table-striped">
				<input type="hidden" id="id" th:value="${id}">
	            <table id="bootstrap-table"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('device:chassis:obd:port:list')}]];
        var prefix = ctx + "device/chassis/obd/port";

        $(function() {
            var options = {
                url: prefix + "/list/"+$('#id').val(),
                modalName: "端口",
                columns: [
				{
					field : 'number',
					title : '序号' 
				},
				{
					field : 'obdId',
					title : '所属OBD'
				},
				{
		            field: 'portSer',
		            title: '端口号',
		        },
				{
					field: 'portCode',
					title: '端口串码',
				},
				{
					field: 'status',
					title: '端口状态',
				},
				{
					field: 'imgUrl',
					title: '图片地址',
				}
		        ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>