<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户管理')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="user-form">
                <div class="select-list">
                    <ul>
                        <li>
                            员工号：<input type="text" name="jobNumber"/>
                        </li>
                        <li>
                            手机号：<input type="text" name="phone"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "device/wechat";

    $(function() {
        var options = {
            // url: prefix + "/list",
            url: prefix + "/queryWechatInfo",
            queryUrl: prefix + "/bindPhone/{id}",
            removeUrl: prefix + "/unBind/{id}",
            modalName: "手机号码",
            columns: [
                {
                    field : 'seq',
                    title : '序号'
                },
                {
                    field: 'jobNumber',
                    title: '员工编号',
                },
                {
                    field: 'phone',
                    title: '手机号',
                },
                {
                    field: 'wxOpenId',
                    title: '微信识别码',
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + '" href="javascript:void(0)" onclick="$.operate.bindPhone(\'' + row.id + '\')"><i class="fa fa-edit"></i>修改手机号</a> ');
                        actions.push('<a class="btn btn-danger btn-xs '  + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>解绑手机号</a>');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });
</script>
</body>
</html>