<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改基础数据')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-base-edit">
        <h4 class="form-header h4">机箱基础信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">设备标签二维码：</label>
                    <div class="col-sm-8">
                        <input name="boxId" th:value="${box.id}" type="hidden">
                        <input class="form-control" maxlength="30" name="boxCode" th:value="${box.boxCode}" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">倒灌标签二维码：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="labelCode" th:value="${box.labelCode}"
                               type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">营服中心：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="campService" th:value="${box.campService}"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">区域：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="area" th:value="${box.area}" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">机箱名称：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="boxName" th:value="${box.boxName}"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">业务局：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="businessBureau"
                               th:value="${box.businessBureau}"
                               type="text">
                    </div>
                </div>
            </div>
            <input name="obdSize" th:value="${obdSize}" type="hidden">
        </div>
        <h4 class="form-header h4">OBD基础信息</h4>
        <div class="row" th:each="o:${obd}">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">OBD名称：</label>
                    <div class="col-sm-8">
                        <input name="id" th:value="${o.id}" type="hidden">
                        <input class="form-control" maxlength="30" name="obdName" th:value="${o.obdName}"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">归属设备：</label>
                    <div class="col-sm-8">
                        <select class="form-control" data-live-search="true" maxlength="30" name="boxBelong" th:with="list=${boxNameList}">
                            <option th:text="${o.boxBelong}"></option>
                            <option th:each="box : ${list}" th:text="${box.boxName}" th:value="${box.boxUniqueId}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">端口数量：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="portCount" th:value="${o.portCount}"
                               type="text">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button class="btn btn-sm btn-primary" onclick="submitHandler()" type="button"><i class="fa fa-check"></i>保 存
        </button>&nbsp;
        <button class="btn btn-sm btn-danger" onclick="closeItem()" type="button"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
    var prefix = ctx + "device/baseData";

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-base-edit").serializeArray();
            $.operate.saveTab(prefix + "/updateBaseData", data);
        }
    }

   // function  searchBoxNameList() {
   //      var abc = "";
   //      $.operate.get(prefix+"/searchBoxNameList","福州",abc)
   //      console.log(abc);
   //  }
  $('.form-control').onclick(function () {
      // var abc = "";
      //      $.operate.get(prefix+"/searchBoxNameList","福州",abc)
        console.log(abc);

  })
</script>
</body>
</html>
