<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改基础数据')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<style>
    .boxNames {
        background: #FFFFFF none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }

    .searchs {
        width: 100%;
        border-top: none;
    }

    #BoxSelect {
        position: absolute;
        background: #FFFFFF none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        font-size: 14px;
        width: 100%;
        height: 200px;
        z-index: 2;
    }

    .line {
        background: #FFFFFF none;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        width: 100%;
        font-size: 14px;
    }

    .hover {
        background: #007ab8;
        color: #fff;
        cursor: pointer;
    }
</style>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-base-edit">
        <h4 class="form-header h4">机箱基础信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">设备标签二维码：</label>
                    <div class="col-sm-8">
                        <input name="boxId" th:value="${box.id}" type="hidden">
                        <input class="form-control" maxlength="30" name="boxCode" th:value="${box.boxCode}" type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">倒灌标签二维码：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="labelCode" th:value="${box.labelCode}"
                               type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">营服中心：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="campService" th:value="${box.campService}"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">区域：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="area" th:value="${box.area}" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">机箱名称：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="boxName" th:value="${box.boxName}"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">业务局：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="businessBureau"
                               th:value="${box.businessBureau}"
                               type="text">
                    </div>
                </div>
            </div>
            <input id="obdSize" name="obdSize" th:value="${obdSize}" type="hidden">
        </div>
        <h4 class="form-header h4">OBD基础信息</h4>
        <div class="row" th:each="o,oStat:${obd}">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">OBD名称：</label>
                    <div class="col-sm-8">
                        <input name="id" th:value="${o.id}" type="hidden">
                        <input class="form-control" maxlength="30" name="obdName" th:value="${o.obdName}"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">归属设备：</label>
                    <div class="col-sm-8">
                        <input type="text" th:id="'boxNames'+${oStat.index}" th:class="boxNames" name="boxBelong"
                               autocomplete="off"
                               th:value="${o.boxBelong}"/>
                        <input type="hidden" th:id="'boxUniqueId'+${oStat.index}" name="boxUniqueId" value=""/>
                        <div th:id="'searchs'+${oStat.index}" th:class="searchs">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">端口数量：</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="30" name="portCount" th:value="${o.portCount}"
                               type="text">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button class="btn btn-sm btn-primary" onclick="submitHandler()" type="button"><i class="fa fa-check"></i>保 存
        </button>&nbsp;
        <button class="btn btn-sm btn-danger" onclick="closeItem()" type="button"><i class="fa fa-reply-all"></i>关 闭
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script type="text/javascript">
    var prefix = ctx + "device/baseData";

    function submitHandler() {
        var length = $("#obdSize").val()
        if (length !== 0) {
            for (var j = 0; j < length; j++) {
                var val = $("#boxNames" + j).val();
                if (val == null || val === "") {
                    $.modal.alertWarning("归属设备不能为空")
                    return;
                }
            }
            if ($.validate.form()) {
                var data = $("#form-base-edit").serializeArray();
                $.operate.saveTab(prefix + "/updateBaseData", data);
            }
        }
    }

    $(function () {
        var length = $("#obdSize").val()
        if (length !== 0) {
            for (var j = 0; j < length; j++) {
                selectHandler(j);
            }
        }
    })

    //防止右键粘贴
    window.document.oncontextmenu = function(){ return false; };

    function selectHandler(j) {
        $("#searchs" + j).hide();
        //无刷新技术获取通道信息keyup监听事件
        $("#boxNames" + j).keyup(function (event) {
            if (event.keyCode==13|| event.keyCode == 32 || (event.ctrlKey && event.keyCode==86)) {
                $("#boxUniqueId" + j).val("")
                $.ajax({
                    async: false,
                    data: {boxName: $("#boxNames" + j).val()},
                    url: prefix + '/searchBoxNameList',
                    type: 'post',
                    datatype: 'json',
                    success: function (msg) {
                        $("#searchs" + j).show();
                        //转化为json对象
                        var getdata = msg;
                        var Content = "<select multiple=\"multiple\" name='boxBelong' id='BoxSelect'>";
                        if (getdata.length <= 0) {
                            Content += "<option th:text=\"${o.boxBelong}\" id=\"boxOption\"></option>";
                        } else {
                            //获取getdata数据中的数量遍历对象
                            for (var i = 0; i < getdata.length; i++) {
                                Content += "<option value=" + getdata[i].boxUniqueId + " class='line'>" + getdata[i].boxName + "</option>";
                            }
                        }
                        Content += "</select>";
                        //清空
                        $("#searchs" + j).empty();
                        $("#searchs" + j).append(Content);
                        $(".line").hover(function () {
                                $(this).addClass("hover");
                            },
                            function () {
                                $(this).removeClass("hover");
                            });
                        //单击选择事件
                        $(".line").click(function () {
                            $("#boxNames" + j).val($(this).text());
                            flag = true;
                            $("#boxUniqueId" + j).val($(this).val());
                            $("#searchs" + j).empty();
                        });
                    }
                });
                //加载事件隐藏
                $(document).click(function () {
                    $("#searchs" + j).hide()
                });
            }
        });
    }

</script>
</body>
</html>
