<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('OBD基础数据')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">

	        <div class="col-sm-12 select-table table-striped">
				<input type="hidden" id="id" th:value="${id}">
	            <table id="bootstrap-table"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
		var prefix = ctx + "device/baseData";

        $(function() {
            var options = {
                url: prefix + "/selectByBoxId/"+$('#id').val(),
				queryUrl: prefix + "/port/{id}",
                modalName: "OBD",
                columns: [
				{
					field : 'seq',
					title : '序号' 
				},
				{
					field : 'obdName',
					title : 'OBD名称'
				},
				{
					field : 'boxBelong',
					title : '归属设备'
				},
				{
					field: 'portCount',
					title: '端口数量',
				}
		        ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>